 <!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Správa nástrojů</title>
    
    <link rel="stylesheet" href="/css/styles.css">
     
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <ul>
        <li><a href="{link Homepage:default}" class="active">Hlavní stránka</a></li>
        <li><a href="{link Borrow:default}">Vypůjčení nástrojů</a></li>
        <li><a href="{link Return:default}">Vrácení nástrojů</a></li>

        {if $user->isInRole('admin')}
            <li><a href="{link Manage:default}">Správa produktů</a></li>
        {/if}

        <li><a href="{link Sign:out}">Odhlásit se</a></li>
    </ul>
</nav>

<div class="container">
    {include content}
</div>

</body>
</html>
